

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}


  
@media (max-width: 768px) {
}


    body {
        font-size: 14px;
        background-color: rgb(175, 174, 173);

    }

   

    .vac-listing-buttons {
        display: block;
        border: 1px solid black;
        margin-top: 2%;
        width: 25%;
        padding: 2px 0;
        margin-left: 30%;
        text-align: center;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        background-color: #3d3b3b;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 14.5px;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
    }

    .vac-listing-buttons:hover {
        background-color: green;
    }

